[Unit]
Description=Prometheus Service
After-network.target

[Service]
Type=simple
ExecStart=~/prometheus --config.file=~/prometheus

[Install]
WantedBy=multi-user.target
